h1 {
    font-family: "Futura", regular, sans-serif;
}

h3 {
  font-family: "Futura", regular, sans-serif;
}

h3 {
  text-align: center;
}

h3 {
  color: #0080ff
}
p {
    font-family: "Futura", regular, bold, sans-serif;
}

h1 {
  text-align: center;
}

body {
  text-align: center;
}

body {

  background-color: #ff80aa;
color: #ffffff
}

img{
  margin:0% 35% 0% 35%;
}
p { text-align: center;}

p {
  color: #ffff1a
}
ul {
  text-align: center;
}
h1 {
  color: #0080ff
}
